* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}
header {
    height: 80px;
    color: #fff;
    margin: auto;
    display: flex;
}

header .logo {
    width: 100px;
    margin: auto;
}
header .logo img {
    width: 100px;
    height: auto;
}
header .menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .menu nav,
header .menu nav > ul,
header .menu nav > ul > li {
    height: 100%;
}
header .menu nav > ul {
    list-style: none;
    display: flex;
}
header .menu nav > ul > li {
    margin: auto 5px;
}
header .menu nav > ul > li > a {
    color: #ccc;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 5px solid transparent;
}
header .menu nav > ul > li.active > a,
header .menu nav > ul > li > a:hover {
    border-bottom: 5px solid #b28756;
    color: #fff;
}
main .banner {
    height: 100vh;
    margin-top: -80px;
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
#carousel .carousel-inner .carousel-item {
    background-color: rgba(0, 0, 0, 0.8);
}
.carousel.slide {
    height: 100%;
    overflow: hidden;
}
#carousel .carousel-indicators {
    position: absolute;
    height: 30px;
}
.carousel.slide .carousel-indicators {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -65px;
}
.carousel.slide .carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: auto 8px;
    border: 1px solid #b28756;
    color: transparent;
    text-align: center;
    box-shadow: 0px 0px 2px #fff;
    cursor: pointer;
}
.carousel.slide .carousel-indicators li.active {
    background-color: #b28756;
}
.carousel.slide .carousel-inner {
    width: max-content;
    height: 100%;
}
.carousel.slide .carousel-inner .carousel-item {
    width: 100vw;
    height: 100%;
    display: block;
    float: left;
}
.carousel.slide .carousel-inner .carousel-item .slider-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.carousel.slide .carousel-inner .carousel-item .slider-area h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    margin-top: -50px;
    margin-bottom: 10px;
    text-align: center;
}
.carousel.slide .carousel-inner .carousel-item .slider-area h1 span {
    color: #b28756;
}
.carousel.slide .carousel-inner .carousel-item .slider-area h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
}
.btn {
    width: fit-content;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 20px;
}
.btn-primary {
    background-color: #b28756;
    color: #fff;
}

section.section {
    padding-top: 50px;
    padding-bottom: 50px;
}
section.section .container {
    display: flex;
    flex-direction: column;
}
section.section .section-header .title,
section.section .section-header .desc {
    text-align: center;
    text-transform: uppercase;
}
section.section .section-header .title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
section.section .section-header .desc {
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #b1aeae;
}
section.section .section-body {
    margin: auto;
}
section.section.light {
    background-color: #f7f7f7;
}
section.section.light .section-header .title,
section.section.light .section-body {
    color: #000;
}
section.section.dark {
    background-color: #000;
}
section.section.dark .section-header .title,
section.section.dark .section-body {
    color: #fff;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1140px;
    height: 100%;
    margin: auto;
}
.d-none {
    display: none !important;
}


/* About */
#about-us .section-body {
    display: flex;
}
#about-us .section-body .aboutus--left {
    flex: 1;
}
#about-us .section-body .aboutus--left p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}
#about-us .section-body .aboutus--right {
    width: 500px;
    text-align: center;
}
#about-us .section-body .aboutus--right img {
    width: 400px;
    box-shadow: 0 5px 15px #333;
}

/* Services */
#services .section-body {
    display: flex;
}
#services .section-body .service {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-left: 1px solid #333;
}
#services .section-body .service:last-child {
    border-right: 1px solid #333;
}
#services .section-body .service img {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}
#services .section-body .service h4 {
    text-transform: uppercase;
    margin: 5px auto;
}
#services .section-body .service p {
    color: #999;
}

/* Our Projects */
#our-projects .section-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#our-projects .section-body .filter ul {
    list-style: none;
    display: flex;
    background-color: #eee;
    border-radius: 30px;
    padding: 0 5px;
    margin: auto;
    border: 1px solid #ccc;
}
#our-projects .section-body .filter li {
    padding: 0 10px;
    cursor: pointer;
    text-transform: uppercase;
    border-right: 1px solid #ccc;
}
#our-projects .section-body .filter li:last-child {
    border-right: none;
}
#our-projects .section-body .filter li span {
    font-size: 10px;
    color: #333;
    display: block;
    padding: 10px 10px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
#our-projects .section-body .filter li.active span,
#our-projects .section-body .filter li:hover span {
    border-bottom: 3px solid #b28756;
}
#our-projects .section-body .projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}
#our-projects .section-body .projects .card {
    width: 260px;
    height: 160px;
    margin: 8px;
}
#our-projects .section-body .projects .card .desc {
    width: inherit;
    height: inherit;
    display: none;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}
#our-projects .section-body .projects .card:hover .desc {
    display: flex;
}
#our-projects .section-body .projects .card .desc h5 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #fff;
}
#our-projects .section-body .projects .card .desc span {
    text-align: center;
    color: #ccc;
}
#our-projects .section-body .projects .card img {
    width: inherit;
    height: inherit;
}

/* Our Time */
#our-team {
    background-image: url('../../media/foto4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    background-color: rgba(0, 0, 0, 0.8) !important;
    background-blend-mode: color;
}
#carousel-team {
    width: calc(300px * 3);
    overflow: hidden;
    margin: auto;
}
#carousel-team .carousel-inner {
    margin: auto;
    margin-bottom: 50px !important  ;
}
#carousel-team .carousel-inner .carousel-item {
    width: 100%;
}
#carousel-team .carousel-inner .container {
    flex-direction: row;
}
#carousel-team .carousel-indicators {
    margin-top: -30px;
}
#our-team .card {
    color: #000;
    background-color: #fff;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;
    padding: 30px;
    border-radius: 5px;
}
#our-team .card .info {
    text-align: center;
    margin-bottom: 20px;
}
#our-team .card .info img {
    width: 180px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}
#our-team .card .info h5 {
    text-transform: uppercase;
    font-size: 18px;
}
#our-team .card .info span {
    color: #333;
}

#our-team .c-sn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-sn {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ccc;
}
.btn-sn:hover {
    background-color: #b28756;
}

























