* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1140px;
    height: 100%;
    margin: auto;
}
.d-none {
    display: none !important;
}
.d-inline {
    display: inline !important;
}
.d-inline-block {
    display: inline-block !important;
}
.d-block {
    display: block !important;
}
.d-flex {
    display: flex !important;
}
.flex-row {
    flex-direction: row !important;
}
.flex-column {
    flex-direction: column !important;
}
.justify-content-start {
    justify-content: flex-start !important;
}
.justify-content-center {
    justify-content: center !important;
}
.justify-content-end {
    justify-content: flex-end !important;
}
.align-items-start {
    align-items: flex-start !important;
}
.align-items-center {
    align-items: center !important;
}
.align-items-end {
    align-items: flex-end !important;
}
.align-self-start {
    align-self: flex-start !important;
}
.align-self-center {
    align-self: center !important;
}
.align-self-end {
    align-self: flex-end !important;
}
.flex-1 {
    flex: 1 !important;
}
.text-start {
    text-align: start !important;
}
.text-center {
    text-align: center !important;
}
.text-end {
    text-align: end !important;
}
.text-justify {
    text-align: justify !important;
}
.btn {
    width: fit-content;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 20px;
}
.btn-primary {
    background-color: #b28756;
    color: #fff;
}
.h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 5px;
}
.mb-1 {
    margin-bottom: 10px !important;
}
.mb-2 {
    margin-bottom: 20px !important;
}
.m-auto {
    margin: auto !important;
}
body {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}
header {
    height: 80px;
    color: #fff;
    margin: auto;
    display: flex;
}
header .logo {
    width: 100px;
    margin: auto;
}
header .logo img {
    width: 100px;
    height: auto;
}
header .menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .menu nav,
header .menu nav > ul,
header .menu nav > ul > li {
    height: 100%;
}
header .menu nav > ul {
    list-style: none;
    display: flex;
}
header .menu nav > ul > li {
    margin: auto 5px;
}
header .menu nav > ul > li > a {
    color: #ccc;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 5px solid transparent;
}
header .menu nav > ul > li.active > a,
header .menu nav > ul > li > a:hover {
    border-bottom: 5px solid #b28756;
    color: #fff;
}
main .banner {
    height: 100vh;
    margin-top: -80px;
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
#carousel .carousel-inner .carousel-item {
    background-color: rgba(0, 0, 0, 0.8);
}
.carousel.slide {
    height: 100%;
    overflow: hidden;
}
#carousel .carousel-indicators {
    position: absolute;
    height: 30px;
}
.carousel.slide .carousel-indicators {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -65px;
}
.carousel.slide .carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: auto 8px;
    border: 1px solid #b28756;
    color: transparent;
    text-align: center;
    box-shadow: 0px 0px 2px #fff;
    cursor: pointer;
}
.carousel.slide .carousel-indicators li.active {
    background-color: #b28756;
}
.carousel.slide .carousel-inner {
    width: max-content;
    height: 100%;
}
.carousel.slide .carousel-inner .carousel-item {
    width: 100vw;
    height: 100%;
    display: block;
    float: left;
}
.carousel.slide .carousel-inner .carousel-item .slider-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.carousel.slide .carousel-inner .carousel-item .slider-area h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    margin-top: -50px;
    margin-bottom: 10px;
    text-align: center;
}
.carousel.slide .carousel-inner .carousel-item .slider-area h1 span {
    color: #b28756;
}
.carousel.slide .carousel-inner .carousel-item .slider-area h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
}
section.section {
    padding-top: 50px;
    padding-bottom: 50px;
}
section.section .container {
    display: flex;
    flex-direction: column;
}
section.section .section-header .title,
section.section .section-header .desc {
    text-align: center;
    text-transform: uppercase;
}
section.section .section-header .title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
section.section .section-header .desc {
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #b1aeae;
}
section.section .section-body {
    margin: auto;
}
section.section.light {
    background-color: #f7f7f7;
}
section.section.light .section-header .title,
section.section.light .section-body {
    color: #000;
}
section.section.dark {
    background-color: #000;
}
section.section.dark .section-header .title,
section.section.dark .section-body {
    color: #fff;
}

/* About */
#about-us .section-body {
    display: flex;
}
#about-us .section-body .aboutus--left {
    flex: 1;
}
#about-us .section-body .aboutus--left p, 
#carousel-happy-clients .card-depoiment p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}
#about-us .section-body .aboutus--right {
    width: 500px;
    text-align: center;
}
#about-us .section-body .aboutus--right img {
    width: 400px;
    box-shadow: 0 5px 15px #333;
}

/* Services */
#services .section-body,
#some-facts .section-body {
    display: flex;
}
#services .section-body .service,
#some-facts .section-body .facts {
    flex: 1;
    text-align: center;
    padding: 20px;
}
#services .section-body .service {
    border-left: 1px solid #333;
}
#services .section-body .service:last-child {
    border-right: 1px solid #333;
}
#services .section-body .service img {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}
#services .section-body .service h4,
#some-facts .section-body .facts h4 {
    text-transform: uppercase;
    margin: 5px auto;
}
#services .section-body .service p,
#some-facts .section-body .facts p {
    color: #999;
}

/* Our Projects */
#our-projects .section-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#our-projects .section-body .filter ul {
    list-style: none;
    display: flex;
    background-color: #eee;
    border-radius: 30px;
    padding: 0 5px;
    margin: auto;
    border: 1px solid #ccc;
}
#our-projects .section-body .filter li {
    padding: 0 10px;
    cursor: pointer;
    text-transform: uppercase;
    border-right: 1px solid #ccc;
}
#our-projects .section-body .filter li:last-child {
    border-right: none;
}
#our-projects .section-body .filter li span {
    font-size: 10px;
    color: #333;
    display: block;
    padding: 10px 10px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
#our-projects .section-body .filter li.active span,
#our-projects .section-body .filter li:hover span {
    border-bottom: 3px solid #b28756;
}
#our-projects .section-body .projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}
#our-projects .section-body .projects .card {
    width: 260px;
    height: 160px;
    margin: 8px;
}
#our-projects .section-body .projects .card .desc {
    width: inherit;
    height: inherit;
    display: none;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}
#our-projects .section-body .projects .card:hover .desc {
    display: flex;
}
#our-projects .section-body .projects .card .desc h5 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #fff;
}
#our-projects .section-body .projects .card .desc span {
    text-align: center;
    color: #ccc;
}
#our-projects .section-body .projects .card img {
    width: inherit;
    height: inherit;
}

/* Our Time */
#our-team {
    background-image: url('../../media/foto4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    background-color: rgba(0, 0, 0, 0.8) !important;
    background-blend-mode: color;
}
#carousel-team {
    width: calc(300px * 3);
    overflow: hidden;
    margin: auto;
}
#carousel-team .carousel-inner {
    margin: auto;
    margin-bottom: 50px !important  ;
}
#carousel-team .carousel-inner .carousel-item {
    width: 100%;
}
#carousel-team .carousel-inner .container {
    flex-direction: row;
}
#carousel-team .carousel-indicators {
    margin-top: -30px;
}
#our-team .card {
    color: #000;
    background-color: #fff;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;
    padding: 30px;
    border-radius: 5px;
}
#our-team .card .info,
#carousel-happy-clients .card-depoiment .info {
    text-align: center;
    margin-bottom: 20px;
}

#our-team .card .info img,
#carousel-happy-clients .card-depoiment .info img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}
#our-team .card .info h5, 
#carousel-happy-clients .card-depoiment .info h5 {
    text-transform: uppercase;
    font-size: 15px;
}
#our-team .card .info span,
#carousel-happy-clients .card-depoiment .info span {
    color: #333;
}

#our-team .c-sn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-sn {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ccc;
}
.btn-sn:hover {
    background-color: #b28756;
}

/* Happy Clients */
#carousel-happy-clients .carousel-inner {
    display: flex;
}
#carousel-happy-clients .card-depoiment {
    width: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#carousel-happy-clients .card-depoiment p {
    margin: 15px;
    text-align: center;
}
#clients,
.btns-contact {
    border-bottom: 0.5px solid #ccc;
}
#clients .brands,
.btns-contact .container {
    width: inherit;
    display: flex;
    justify-content: center;
}
#clients .brands {
    padding: 40px 0;
}
#clients .brands img {
    margin: auto 20px;
}

#price .section-body {
    display: flex;
}
#price .card {
    background-color: #fff;
    padding: 30px 50px;
    text-align: center;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer;
    box-shadow: 0px 2px 20px #ccc;
}
#price .card:hover {
    box-shadow: 0px 2px 20px #999;
}
#price .card .title {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 15px;
}
#price .card .price {
    display: block;
    font-size: 20px;
    font-weight: bold;
}
#price .card .period {
    color: #999;
    font-size: 12px;
}
#price .card .desc {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    font-size: 10px;
}
#price .card .divider {
    font-size: 10px;
}

#price .card button {
    background-color: #000;
    color: #fff;
    padding: 10px 30px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
}
#price .card button:hover {
    background-color: #b28756;
}
#premium .section-body > div img.icon {
    margin: 0 25px;
    width: 30px;
}
#some-facts .section-body .facts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#some-facts .section-body .facts .count {
    color: #b28756;
    font-size: 40px;
    font-weight: bold;
}
#some-facts .section-body .facts small {
    width: 15px;
    height: 3px;
    background-color: #999;
}
.btns-contact .container {
    padding: 15px 0;
}
.btns-contact .container > img,
.btns-contact .container > span,
.btns-contact .container > div {
    margin: 0 10px;
}
.btns-contact .container {
    color: #999;
}
.btns-contact .container > div .c-sn .twitter {
    background-color: rgb(29, 161, 242);
}
.btns-contact .container > div .c-sn .linkdin {
    background-color: #0077b5;
}
.btns-contact .container > div .c-sn .facebook {
    background-color: #4267b2;
}
.btns-contact .container > div .c-sn .googleplus {
    background-color: #dc4e41;
}
.btns-contact .container > div .c-sn .pinterest {
    background-color: #e6001a;
}


form input,
form textarea {
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    outline: none;
}
form div input:first-child {
    margin-right: 10px;
}
form div input:last-child {
    margin-left: 10px;
}
form input::placeholder,
form textarea::placeholder {
    font-size: 10px;
    text-transform: uppercase;
    color: #aaa;
}
form button {
    border: none;
}








